<div class="working-day" [formGroup]="workingDayForm">
  <span class="day-name">{{day}}</span>
  <span>
    <mat-form-field class="time-picker" #amStart>
      <mat-placeholder>Début (AM)</mat-placeholder>
      <mat-datetimepicker-toggle [for]="amStartPicker" matSuffix></mat-datetimepicker-toggle>
      <mat-datetimepicker #amStartPicker type="time" openOnFocus="true" timeInterval="15" mode="'portrait'">
      </mat-datetimepicker>
      <input type="text" matInput formControlName="amStart" [matDatetimepicker]="amStartPicker"
             autocomplete="false">
    </mat-form-field>
  </span>
  <span>
    <mat-form-field class="time-picker" #amEnd>
      <mat-placeholder>Fin (AM)</mat-placeholder>
      <mat-datetimepicker-toggle [for]="amEndPicker" matSuffix></mat-datetimepicker-toggle>
      <mat-datetimepicker #amEndPicker type="time" openOnFocus="true" timeInterval="15" mode="'portrait'">
      </mat-datetimepicker>
      <input type="text" matInput formControlName="amEnd" [matDatetimepicker]="amEndPicker" autocomplete="false">
    </mat-form-field>
  </span>
  <span>
    <mat-form-field class="time-picker" #pmStart>
      <mat-placeholder>Début (PM)</mat-placeholder>
      <mat-datetimepicker-toggle [for]="pmStartPicker" matSuffix></mat-datetimepicker-toggle>
      <mat-datetimepicker #pmStartPicker type="time" openOnFocus="true" timeInterval="15" mode="'portrait'">
      </mat-datetimepicker>
      <input type="text" matInput formControlName="pmStart" [matDatetimepicker]="pmStartPicker" autocomplete="false">
    </mat-form-field>
  </span>
  <span>
    <mat-form-field class="time-picker" #pmEnd>
      <mat-placeholder>Fin (PM)</mat-placeholder>
      <mat-datetimepicker-toggle [for]="pmEndPicker" matSuffix></mat-datetimepicker-toggle>
      <mat-datetimepicker #pmEndPicker type="time" openOnFocus="true" timeInterval="15" mode="'portrait'">
      </mat-datetimepicker>
      <input type="text" matInput formControlName="pmEnd" [matDatetimepicker]="pmEndPicker" autocomplete="false">
    </mat-form-field>
  </span>
</div>
