@keyframes disappear {
  0% {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
  100% {
    width: 0;
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
}

.working-day {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {

    &.day-name {
      width: 100px;
    }

    &.time-picker {
      &.hidden {
        animation: disappear 1s ease 0s 1 forwards;
        animation-fill-mode: forwards;
      }
    }
  }
}

