<div class="map-container">
  <div class="map">
    <agm-map [latitude]="mapCenter.lat" [longitude]="mapCenter.lng" [zoom]="zoom"
             [mapTypeControl]="true"
             [mapTypeControlOptions]="{mapTypeIds: ['roadmap', 'hybrid', 'satellite', 'terrain']}">

      <!-- Search box -->
      <app-search-box [placeholder]="'Chercher une adresse...'" [position]="searchBoxPosition"
                      [autoBoundResults]="false"
                      (placesChange)="showSearchResults($event)">
      </app-search-box>

      <!-- Route display -->
      <app-route [from]="routeOrigin" [to]="routeDestination" [waypoints]="routeWaypoints"
                 [detailsPanel]="routeDetails" [keepMapZoomOnDisplay]="true"
                 (routeDisplayed)="routeDisplayed($event)">
      </app-route>

      <!-- Search results markers -->
      <agm-marker *ngFor="let foundAddress of foundAddresses"
                  [latitude]="foundAddress.lat" [longitude]="foundAddress.lng"
                  [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png'"
                  (markerClick)="select(foundAddress)">
        <agm-snazzy-info-window [maxWidth]="500" [maxHeight]="400" [padding]="'0px'" [showCloseButton]="false"
                                [closeWhenOthersOpen]="true" [isOpen]="foundAddress === selected"
                                (afterClose)="resetClosestAddress()">
          <ng-template>
            <app-address-card [address]="foundAddress" [canSetAsOrigin]="true"
                              [canSetAsDestination]="true"
                              [canAddAsWaypoint]="true"
                              (setAsOrigin)="displayRouteFrom(foundAddress)"
                              (setAsDestination)="displayRouteTo(foundAddress)"
                              (addedAsWaypoint)="addWaypoint(foundAddress)"
                              (centered)="centerMap(foundAddress)">
            </app-address-card>
          </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>

      <!-- Work location marker -->
      <agm-marker *ngIf="workLocation"
                  [latitude]="workLocation.lat" [longitude]="workLocation.lng" [title]="workLocation.title"
                  [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/orange-dot.png'"
                  (markerClick)="select(workLocation)">
        <agm-snazzy-info-window [maxWidth]="500" [maxHeight]="400" [padding]="'0px'" [showCloseButton]="false"
                                [closeWhenOthersOpen]="true" [isOpen]="workLocation === selected"
                                (afterClose)="resetClosestAddress()">
          <ng-template>
            <app-address-card [address]="workLocation" [canSetAsOrigin]="!alreadyOrigin && !alreadyDestination"
                              [canSetAsDestination]="!alreadyOrigin && !alreadyDestination"
                              [canAddAsWaypoint]="!alreadyWaypoint && !alreadyOrigin && !alreadyDestination"
                              [canUnsetAsOrigin]="alreadyOrigin"
                              [canUnsetAsDestination]="alreadyDestination"
                              [canRemoveAsWaypoint]="alreadyWaypoint"
                              (setAsOrigin)="displayRouteFrom(workLocation)"
                              (setAsDestination)="displayRouteTo(workLocation)"
                              (addedAsWaypoint)="addWaypoint(workLocation)"
                              (unsetAsOrigin)="resetOrigin()"
                              (unsetAsDestination)="resetDestination()"
                              (removedAsWaypoint)="removeWaypoint(workLocation)"
                              (centered)="centerMap(workLocation)">
            </app-address-card>
          </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>

      <!-- Current user marker -->
      <agm-marker [latitude]="user.address.lat" [longitude]="user.address.lng"
                  [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/red-dot.png'"
                  (markerClick)="select(user)">
        <agm-snazzy-info-window [maxWidth]="500" [maxHeight]="400" [padding]="'0px'" [showCloseButton]="false"
                                [closeWhenOthersOpen]="true" [isOpen]="user === selected"
                                (afterClose)="resetClosestAddress()">
          <ng-template>
            <app-user-card [user]="user" [canSetAsOrigin]="!alreadyOrigin && !alreadyDestination"
                           [canSetAsDestination]="!alreadyOrigin && !alreadyDestination"
                           [canAddAsWaypoint]="!alreadyWaypoint && !alreadyOrigin && !alreadyDestination"
                           [canUnsetAsOrigin]="alreadyOrigin"
                           [canUnsetAsDestination]="alreadyDestination"
                           [canRemoveAsWaypoint]="alreadyWaypoint"
                           (setAsOrigin)="displayRouteFrom(user)"
                           (setAsDestination)="displayRouteTo(user)"
                           (addedAsWaypoint)="addWaypoint(user)"
                           (unsetAsOrigin)="resetOrigin()"
                           (unsetAsDestination)="resetDestination()"
                           (removedAsWaypoint)="removeWaypoint(user)"
                           (centered)="centerMap(user.address)">
            </app-user-card>
          </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>

      <!-- User markers -->
      <agm-marker *ngFor="let user of users"
                  [latitude]="user.address.lat" [longitude]="user.address.lng"
                  [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/red-dot.png'"
                  (markerClick)="select(user)">
        <agm-snazzy-info-window [maxWidth]="500" [maxHeight]="400" [padding]="'0px'" [showCloseButton]="false"
                                [closeWhenOthersOpen]="true" [isOpen]="user === selected"
                                (afterClose)="resetClosestAddress()">
          <ng-template>
            <app-user-card [user]="user" [canSetAsOrigin]="!alreadyOrigin && !alreadyDestination"
                           [canSetAsDestination]="!alreadyOrigin && !alreadyDestination"
                           [canAddAsWaypoint]="!alreadyWaypoint && !alreadyOrigin && !alreadyDestination"
                           [canUnsetAsOrigin]="alreadyOrigin"
                           [canUnsetAsDestination]="alreadyDestination"
                           [canRemoveAsWaypoint]="alreadyWaypoint"
                           (setAsOrigin)="displayRouteFrom(user)"
                           (setAsDestination)="displayRouteTo(user)"
                           (addedAsWaypoint)="addWaypoint(user)"
                           (unsetAsOrigin)="resetOrigin()"
                           (unsetAsDestination)="resetDestination()"
                           (removedAsWaypoint)="removeWaypoint(user)"
                           (centered)="centerMap(user.address)">
            </app-user-card>
          </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>

      <!-- Markers of other addresses (manually added ones) -->
      <agm-marker *ngFor="let address of otherAddresses"
                  [latitude]="address.lat" [longitude]="address.lng" [title]="address.title"
                  [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'"
                  (markerClick)="select(address)">
        <agm-snazzy-info-window [title]="address.title" [maxWidth]="500" [maxHeight]="400" [padding]="'0px'"
                                [showCloseButton]="false" [closeWhenOthersOpen]="true" [isOpen]="address === selected"
                                (afterClose)="resetClosestAddress()">
          <ng-template>
            <app-address-card [address]="address" [canSetAsOrigin]="!alreadyOrigin && !alreadyDestination"
                              [canSetAsDestination]="!alreadyOrigin && !alreadyDestination"
                              [canAddAsWaypoint]="!alreadyWaypoint && !alreadyOrigin && !alreadyDestination"
                              [canUnsetAsOrigin]="alreadyOrigin"
                              [canUnsetAsDestination]="alreadyDestination"
                              [canRemoveAsWaypoint]="alreadyWaypoint"
                              (setAsOrigin)="displayRouteFrom(address)"
                              (setAsDestination)="displayRouteTo(address)"
                              (addedAsWaypoint)="addWaypoint(address)"
                              (unsetAsOrigin)="resetOrigin()"
                              (unsetAsDestination)="resetDestination()"
                              (removedAsWaypoint)="removeWaypoint(address)"
                              (centered)="centerMap(address)">
            </app-address-card>
          </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>
    </agm-map>
  </div>

  <div class="closest-info" *ngIf="closestRouteDetails">
    <div>Trajet collaboratif le plus court incluant la sélection</div>
    <div>
      Départ&nbsp;:
      <app-address-card [address]="closestRouteDetails.origin"></app-address-card>
    </div>
    <div>
      Points de parcours&nbsp;:
      <app-address-card *ngFor="let w of closestRouteDetails.waypoints" [address]="w"></app-address-card>
    </div>
    <div>Distance&nbsp;: {{closestRouteDetails.distance / 1000}}&nbsp;km</div>
    <div>Durée&nbsp;: {{closestRouteDetails.duration / 60}}&nbsp;min</div>
  </div>
</div>

<h3>Itinéraire</h3>
<div class="route">

  <div class="route-manager">
    <app-route-element [iconName]="'radio_button_unchecked'" [iconColor]="'red'"
                       [title]="getRouteLineTitle(origin)" [highlighted]="origin && (origin === selected)"
                       (removed)="resetOrigin()" (click)="select(origin)">
    </app-route-element>

    <div class="route-waypoint" *ngFor="let waypoint of waypoints">
      <div class="route-separator">
        <mat-icon>more_vert</mat-icon>
      </div>
      <app-route-element [title]="getRouteLineTitle(waypoint)" [highlighted]="waypoint === selected"
                         (removed)="removeWaypoint(waypoint)" (click)="select(waypoint)">
      </app-route-element>
    </div>

    <div class="route-separator">
      <mat-icon>more_vert</mat-icon>
    </div>
    <app-route-element [iconName]="'radio_button_checked'" [iconColor]="'red'"
                       [title]="getRouteLineTitle(destination)"
                       [highlighted]="destination && (destination === selected)"
                       (removed)="resetDestination()" (click)="select(destination)">
    </app-route-element>
  </div>

  <div class="route-details" [hidden]="!routeDefined">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Détail</mat-panel-title>
        <mat-panel-description>Instructions GPS détaillées</mat-panel-description>
      </mat-expansion-panel-header>
      <div class="route-details-content" #routeDetails></div>
    </mat-expansion-panel>
  </div>
</div>


