.map-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: start;

  .map {
    width: 50%;

    agm-map {
      height: 500px;
    }
  }

}

.route {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  .route-manager {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div.route-separator {
      padding: 10px 35px;

      mat-icon {
        font-size: 24px;
      }
    }
  }

  .route-details {
    width: 40%;
    align-self: stretch;
  }
}


