<div class="map-container">
  <div class="map">
    <agm-map [latitude]="mapCenter.lat" [longitude]="mapCenter.lng" [zoom]="zoom"
             [mapTypeControl]="true"
             [mapTypeControlOptions]="{mapTypeIds: ['roadmap', 'hybrid', 'satellite', 'terrain']}">
      <app-search-box [placeholder]="'Chercher une adresse...'" [position]="searchBoxPosition"
                      [autoBoundResults]="false"
                      (placesChange)="showSearchResults($event)">
      </app-search-box>

      <app-route [from]="routeOrigin" [to]="routeDestination" [waypoints]="routeWaypoints"
                 [detailsPanel]="routeDetails" [keepMapZoomOnDisplay]="true"
                 (routeDisplayed)="routeDisplayed($event)">
      </app-route>

      <agm-marker *ngFor="let foundAddress of foundAddresses"
                  [latitude]="foundAddress.lat" [longitude]="foundAddress.lng"
                  [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png'"
                  (markerClick)="select(foundAddress)">
      </agm-marker>

      <agm-marker *ngIf="workLocation"
                  [latitude]="workLocation.lat" [longitude]="workLocation.lng" [title]="workLocation.title"
                  [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/orange-dot.png'"
                  (markerClick)="select(workLocation)">
      </agm-marker>

      <agm-marker *ngFor="let user of users"
                  [latitude]="user.address.lat" [longitude]="user.address.lng"
                  [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/red-dot.png'"
                  (markerClick)="select(user)">
      </agm-marker>

      <agm-marker *ngFor="let address of otherAddresses"
                  [latitude]="address.lat" [longitude]="address.lng" [title]="address.title"
                  [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'"
                  (markerClick)="select(address)">
      </agm-marker>
    </agm-map>
  </div>

  <div class="marker-details" *ngIf="selected">
    <h3>Sélection</h3>
    <app-user-card *ngIf="isUser(selected)" [user]="selected"
                   [canSetAsOrigin]="!alreadyOrigin && !alreadyDestination"
                   [canSetAsDestination]="!alreadyOrigin && !alreadyDestination"
                   [canAddAsWaypoint]="!alreadyWaypoint && !alreadyOrigin && !alreadyDestination"
                   [canUnsetAsOrigin]="alreadyOrigin"
                   [canUnsetAsDestination]="alreadyDestination"
                   [canRemoveAsWaypoint]="alreadyWaypoint"
                   (setAsOrigin)="displayRouteFrom(selected)"
                   (setAsDestination)="displayRouteTo(selected)"
                   (addedAsWaypoint)="addWaypoint(selected)"
                   (unsetAsOrigin)="resetOrigin()"
                   (unsetAsDestination)="resetDestination()"
                   (removedAsWaypoint)="removeWaypoint(selected)"
                   (centered)="centerMap(selected.address)">
    </app-user-card>
    <app-address-card *ngIf="isAddress(selected)" [address]="selected"
                      [canSetAsOrigin]="!alreadyOrigin && !alreadyDestination"
                      [canSetAsDestination]="!alreadyOrigin && !alreadyDestination"
                      [canAddAsWaypoint]="!alreadyWaypoint && !alreadyOrigin && !alreadyDestination"
                      [canUnsetAsOrigin]="alreadyOrigin"
                      [canUnsetAsDestination]="alreadyDestination"
                      [canRemoveAsWaypoint]="alreadyWaypoint"
                      (setAsOrigin)="displayRouteFrom(selected)"
                      (setAsDestination)="displayRouteTo(selected)"
                      (addedAsWaypoint)="addWaypoint(selected)"
                      (unsetAsOrigin)="resetOrigin()"
                      (unsetAsDestination)="resetDestination()"
                      (removedAsWaypoint)="removeWaypoint(selected)"
                      (centered)="centerMap(selected)">
    </app-address-card>
  </div>
</div>

<h3>Itinéraire</h3>
<div class="route">

  <div class="route-manager">
    <app-route-element [iconName]="'radio_button_unchecked'" [iconColor]="'red'"
                       [title]="getRouteLineTitle(origin)" [highlighted]="origin && (origin === selected)"
                       (removed)="resetOrigin()" (click)="select(origin)">
    </app-route-element>

    <div class="route-waypoint" *ngFor="let waypoint of waypoints">
      <div class="route-separator">
        <mat-icon>more_vert</mat-icon>
      </div>
      <app-route-element [title]="getRouteLineTitle(waypoint)" [highlighted]="waypoint === selected"
                         (removed)="removeWaypoint(waypoint)" (click)="select(waypoint)">
      </app-route-element>
    </div>

    <div class="route-separator">
      <mat-icon>more_vert</mat-icon>
    </div>
    <app-route-element [iconName]="'radio_button_checked'" [iconColor]="'red'"
                       [title]="getRouteLineTitle(destination)"
                       [highlighted]="destination && (destination === selected)"
                       (removed)="resetDestination()" (click)="select(destination)">
    </app-route-element>
  </div>

  <div class="route-details" [hidden]="!routeDefined">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Détail</mat-panel-title>
        <mat-panel-description>Instructions GPS détaillées</mat-panel-description>
      </mat-expansion-panel-header>
      <div class="route-details-content" #routeDetails></div>
    </mat-expansion-panel>
  </div>
</div>


