<mat-card [ngClass]="{'highlighted': highlighted}">
  <mat-card-header>
    <div mat-card-avatar class="brand-logo"></div>
    <mat-card-title>{{user.firstName}}&nbsp;{{user.lastName}}</mat-card-title>
    <mat-card-subtitle>{{user.job}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div
      *ngIf="user.address && (user.address.streetNumber || user.address.streetName || user.address.zip || user.address.city)">
      <div>
        <mat-icon>map</mat-icon>
      </div>
      <div>
        <span *ngIf="user.address.streetNumber">{{user.address.streetNumber}}&nbsp;</span>
        <span *ngIf="user.address.streetName">{{user.address.streetName}},&nbsp;</span>
        <span *ngIf="user.address.zip">{{user.address.zip}}&nbsp;</span>
        <span *ngIf="user.address.city">{{user.address.city}}</span>
      </div>
    </div>
    <div *ngIf="user.tel">
      <div>
        <mat-icon>phone</mat-icon>
      </div>
      <div>{{user.tel}}</div>
    </div>
    <div *ngIf="user.email">
      <div>
        <mat-icon>email</mat-icon>
      </div>
      <div>
        <a [href]="'mailto:' + user.email">{{user.email}}</a>
      </div>
    </div>
    <div class="incomplete-info-warn" *ngIf="currentUser && (!user.address || !user.tel || !user.email)">Merci de
      renseigner vos coordonnées complètes <a [routerLink]="'/user-info'">ici</a>.
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="hasActions()">
    <app-address-actions [canSetAsOrigin]="canSetAsOrigin" [canUnsetAsOrigin]="canUnsetAsOrigin"
                         [canSetAsDestination]="canSetAsDestination"
                         [canUnsetAsDestination]="canUnsetAsDestination"
                         [canAddAsWaypoint]="canAddAsWaypoint" [canRemoveAsWaypoint]="canRemoveAsWaypoint"
                         (setAsOrigin)="setOrigin()" (unsetAsOrigin)="unsetOrigin()"
                         (setAsDestination)="setDestination()" (unsetAsDestination)="unsetDestination()"
                         (addedAsWaypoint)="addAsWaypoint()" (removedAsWaypoint)="removeAsWaypoint()"
                         (centered)="center()">
    </app-address-actions>
  </mat-card-actions>
</mat-card>
