<mat-card [ngClass]="{'highlighted': highlighted}">
  <mat-card-content>
    <div *ngIf="address.streetNumber || address.streetName || address.zip || address.city">
      <div>
        <mat-icon>map</mat-icon>
      </div>
      <div>
        <span *ngIf="address.streetNumber">{{address.streetNumber}}&nbsp;</span>
        <span *ngIf="address.streetName">{{address.streetName}},&nbsp;</span>
        <span *ngIf="address.zip">{{address.zip}}&nbsp;</span>
        <span *ngIf="address.city">{{address.city}}</span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="hasActions()">
    <app-address-actions [canSetAsOrigin]="canSetAsOrigin" [canUnsetAsOrigin]="canUnsetAsOrigin"
                         [canSetAsDestination]="canSetAsDestination"
                         [canUnsetAsDestination]="canUnsetAsDestination"
                         [canAddAsWaypoint]="canAddAsWaypoint" [canRemoveAsWaypoint]="canRemoveAsWaypoint"
                         (setAsOrigin)="setOrigin()" (unsetAsOrigin)="unsetOrigin()"
                         (setAsDestination)="setDestination()" (unsetAsDestination)="unsetDestination()"
                         (addedAsWaypoint)="addAsWaypoint()" (removedAsWaypoint)="removeAsWaypoint()"
                         (centered)="center()">
    </app-address-actions>
  </mat-card-actions>
</mat-card>
