mat-card {
  max-width: 500px;

  &.highlighted {
    border: darkorange 4px outset;
  }

  mat-card-header mat-icon {
    font-size: 24px;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > div {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      & > div:first-child {
        padding: 0 10px;
      }
    }
  }

  mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    button {
      min-width: initial;
    }
  }
}
