<mat-card [ngClass]="{'highlighted': highlighted}">
  <mat-card-header>
    <div mat-card-avatar class="brand-logo"></div>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle *ngIf="subtitle">{{subtitle}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="address.streetNumber || address.streetName || address.zip || address.city">
      <div>
        <mat-icon>map</mat-icon>
      </div>
      <div>
        <span *ngIf="address.streetNumber">{{address.streetNumber}}&nbsp;</span>
        <span *ngIf="address.streetName">{{address.streetName}},&nbsp;</span>
        <span *ngIf="address.zip">{{address.zip}}&nbsp;</span>
        <span *ngIf="address.city">{{address.city}}</span>
      </div>
    </div>
    <div *ngIf="address.coworker?.tel">
      <div>
        <mat-icon>phone</mat-icon>
      </div>
      <div>{{address.coworker.tel}}</div>
    </div>
    <div *ngIf="address.coworker?.email">
      <div>
        <mat-icon>email</mat-icon>
      </div>
      <div>
        <a [href]="'mailto:' + address.coworker.email">{{address.coworker.email}}</a>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button type="button" *ngIf="canSetAsOrigin" mat-button title="Set as origin"
            (click)="setOrigin()">
      <i class="far fa-flag fa-lg"></i>
    </button>
    <button type="button" *ngIf="canUnsetAsOrigin" mat-button title="Unset origin"
            (click)="unsetOrigin()">
      <i class="far fa-flag fa-lg crossed"></i>
    </button>

    <button type="button" *ngIf="canSetAsDestination" mat-button title="Set as destination"
            (click)="setDestination()">
      <i class="fas fa-flag-checkered fa-lg"></i>
    </button>
    <button type="button" *ngIf="canUnsetAsDestination" mat-button title="Unset destination"
            (click)="unsetDestination()">
      <i class="fas fa-flag-checkered fa-lg crossed"></i>
    </button>

    <button type="button" *ngIf="canAddAsWaypoint" mat-button title="Add as waypoint"
            (click)="addAsWaypoint()">
      <i class="fas fa-map-marker fa-lg"></i>
    </button>
    <button type="button" *ngIf="canRemoveAsWaypoint" mat-button title="Remove waypoint"
            (click)="removeAsWaypoint()">
      <i class="fas fa-map-marker fa-lg crossed"></i>
    </button>
  </mat-card-actions>
</mat-card>
