<div class="map-container">
  <mat-form-field class="search-address">
    <input matInput id="address" type="text" [placeholder]="searchPlaceholder" #search [formControl]="searchControl">
  </mat-form-field>

  <agm-map class="map" [latitude]="center.lat" [longitude]="center.lng" [zoom]="zoom"
           [mapTypeControl]="true"
           [mapTypeControlOptions]="{mapTypeIds: ['roadmap', 'hybrid', 'satellite', 'terrain']}">
    <agm-marker *ngIf="searchAddress"
                [latitude]="searchAddress.lat" [longitude]="searchAddress.lng"
                [iconUrl]="'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png'"
                (markerClick)="clickAddressMarker()">
    </agm-marker>
    <ng-content></ng-content>
  </agm-map>
</div>
