<h1>
  {{title}}
</h1>

<div>
  <form #searchAddressForm="ngForm" (ngSubmit)="search()" novalidate>
    <div id="search">
      <input id="address" type="text" name="address" [(ngModel)]="searchAddress" placeholder="Search an address...">
      <button type="submit" mat-raised-button color="primary">Search !</button>
    </div>

    <div id="results">
      <h3>Results</h3>

      <div *ngIf="locations.length > 0">
        <app-address *ngFor="let location of locations" [address]="location"
                     (addressSelected)="centerMap($event)" (addressAdded)="addMarker($event)"></app-address>
      </div>

      <div *ngIf="locations.length === 0 && searchAddressForm.submitted">Aucun résultat</div>
    </div>
  </form>
</div>

<div id="map">
  <agm-map class="map" [latitude]="mapCenter.lat" [longitude]="mapCenter.lng" [zoom]="11">
    <agm-marker [latitude]="workLocation.lat" [longitude]="workLocation.lng"
                [title]="'Agence de Nantes'" [label]="'O'">
      <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
        <ng-template>
          This is where we work !
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>

    <agm-marker *ngFor="let coworker of coworkers"
                [latitude]="coworker.address.lat" [longitude]="coworker.address.lng"
                (markerClick)="findRoute(coworker.address)">
      <agm-snazzy-info-window [maxWidth]="600" [closeWhenOthersOpen]="true">
        <ng-template>
          <app-coworker-card [coworker]="coworker"></app-coworker-card>
        </ng-template>
      </agm-snazzy-info-window>
    </agm-marker>

    <agm-marker *ngFor="let address of otherAddresses"
                [latitude]="address.lat" [longitude]="address.lng"
                (markerClick)="findRoute(address)">
    </agm-marker>
  </agm-map>
</div>
