<h1>
  {{title}}
</h1>

<div>
  <form #searchAddressForm="ngForm" (ngSubmit)="search()" novalidate>
    <div id="search">
      <mat-form-field>
        <input matInput id="address" type="text" name="address" [(ngModel)]="searchAddress"
               placeholder="Search an address...">
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Search !</button>
    </div>

    <div id="results">
      <h3>Results</h3>

      <div *ngIf="locations.length > 0">
        <app-address *ngFor="let location of locations" [address]="location"
                     (addressSelected)="centerMap($event)" (addressAdded)="addMarker($event)"></app-address>
      </div>

      <div *ngIf="locations.length === 0 && searchAddressForm.submitted">Aucun résultat</div>
    </div>
  </form>
</div>

<div class="map-details">
  <div class="map">
    <agm-map [latitude]="mapCenter.lat" [longitude]="mapCenter.lng" [zoom]="12">
      <app-route [from]="routeOrigin" [to]="routeDestination" [waypoints]="waypoints" [keepMapZoomOnDisplay]="true">
      </app-route>

      <agm-marker [latitude]="workLocation.lat" [longitude]="workLocation.lng"
                  [title]="'Agence de Nantes'" [label]="'O'"
                  (markerClick)="select(workLocation)">
        <agm-info-window>OAB Nantes</agm-info-window>
      </agm-marker>

      <agm-marker *ngFor="let coworker of coworkers" [latitude]="coworker.address.lat"
                  [longitude]="coworker.address.lng"
                  (markerClick)="select(coworker)">
        <agm-info-window>{{coworker.name}}</agm-info-window>
      </agm-marker>

      <agm-marker *ngFor="let address of otherAddresses" [latitude]="address.lat" [longitude]="address.lng"
                  (markerClick)="select(address)">
      </agm-marker>
    </agm-map>
  </div>

  <app-coworker-address-card *ngIf="selected" [detail]="selected"
                             [canSetAsOrigin]="!alreadyOrigin && !alreadyDestination"
                             [canSetAsDestination]="!alreadyDestination"
                             [canAddAsWaypoint]="!alreadyWaypoint && !alreadyOrigin && !alreadyDestination"
                             [canUnsetAsOrigin]="alreadyOrigin"
                             [canUnsetAsDestination]="alreadyDestination"
                             [canRemoveAsWaypoint]="alreadyWaypoint"
                             (setAsOrigin)="displayRouteFrom($event)"
                             (setAsDestination)="displayRouteTo($event)"
                             (addedAsWaypoint)="addWaypoint($event)"
                             (unsetAsOrigin)="resetOrigin()"
                             (unsetAsDestination)="resetDestination()"
                             (removedAsWaypoint)="removeWaypoint($event)">
  </app-coworker-address-card>
</div>




