@import '../variables';

div {
  background-color: #ffffff;

  &.main {
    margin: 0 auto 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    min-width: $screen-min-width;
    max-width: $screen-max-width;
    min-height: $screen-min-height;
  }

  &.main-sidebar {
    width: 100px;
    flex: 0;
  }

  &.main-content {
    height: 100%;
    flex: 1;
  }
}
