.sidebar-container {
  height: 100%;
  padding: 0 15px;

  mat-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    mat-list-item {
      height: 100%;
      width: 100%;
      font-size: 12px;
      vertical-align: middle;
      padding: 20px 0;

      &.selected {
        background-color: darkorange;
        color: white;
      }

      a {
        height: 100%;
        text-align: center;
      }
    }
  }
}
