mat-card {
  width: 300px;

  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > div {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      & > div:first-child {
        padding: 0 10px;
      }

      & > div:last-child {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
    }
  }

  mat-card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.brand-logo {
  background-image: url('../../../../assets/images/brand-logo.jpg');
  background-size: cover;
}
