<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="brand-logo"></div>
    <mat-card-title>{{coworker.firstName}}&nbsp;{{coworker.lastName}}</mat-card-title>
    <mat-card-subtitle>Ingénieur concepteur</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <div>
        <mat-icon>map</mat-icon>
      </div>
      <div>
        <span>{{coworker.address.streetNumber}}&nbsp;{{coworker.address.streetName}},&nbsp;</span>
        <span>{{coworker.address.zip}}&nbsp;{{coworker.address.city}}</span>
      </div>
    </div>
    <div>
      <div>
        <mat-icon>phone</mat-icon>
      </div>
      <div>{{coworker.tel}}</div>
    </div>
    <div>
      <div>
        <mat-icon>email</mat-icon>
      </div>
      <div>
        <a [href]="'mailto:' + coworker.email">{{coworker.email}}</a>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button type="button" *ngIf="canSetAsOrigin" mat-button title="Set as origin"
            (click)="setOrigin()">
      <i class="far fa-flag fa-lg"></i>
    </button>
    <button type="button" *ngIf="canSetAsDestination" mat-button title="Set as destination"
            (click)="setDestination()">
      <i class="fas fa-flag-checkered fa-lg"></i>
    </button>
    <button type="button" *ngIf="canAddAsWaypoint" mat-button title="Add as waypoint"
            (click)="addAsWaypoint()">
      <i class="fas fa-map-marker fa-lg"></i>
    </button>
  </mat-card-actions>
</mat-card>
