/* GLOBAL VARIABLES */

/* Screen sizing */
$screen-min-width: 1400px;
$screen-max-width: 1920px;
$screen-min-height: 900px;

/* Font */
$font-family: LatoWeb, Arial, sans-serif;
$font-size: 14px;

/* Color */
$main-color-50: #ffffff;
$main-color-100: #f0f4f8;
$main-color-200: #dae2eb;
$main-color-300: #7e8ba1;
$main-color-500: #485a79;
$main-color-700: #364663;
$main-color-900: #000000;

$accent-color-300: #4a90e2;
$accent-color-500: #007aff;
$accent-color-700: #003698;
$accent-color-900: #00183e;

$warn-color-100: #50e3c2;
$warn-color-500: #d0021b;
$warn-color-700: #f0ab00;
